attrs==21.2.0
certifi==2020.6.20
chardet==4.0.0
distro==1.7.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
grpcio==1.59.2
grpcio-tools==1.59.2
idna==3.3
importlib-metadata==4.6.4
jsonschema==3.2.0
more-itertools==8.10.0
protobuf==4.25.0
pyrsistent==0.18.1
python-dotenv==0.19.2
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
texttable==1.6.4
urllib3==1.26.5
websocket-client==1.2.3
zipp==1.0.0

