annotated-types==0.6.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
docker==7.0.0
grpcio==1.60.0
grpcio-tools==1.60.0
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.2
protobuf==4.25.1
pydantic==2.5.2
pydantic-core==2.14.5
pygments==2.17.2
python-on-whales==0.67.0
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
tqdm==4.66.1
typer==0.9.0
typing-extensions==4.9.0
urllib3==2.1.0

